        <section class="nav">
                <nav>
                    <div>
                        <img src="\assets\Screenshot (126).png" alt="">
                        <h1>STEMinnovista</h1>
                    </div>
                    <ul>
                        <li ><a href="/index" id="home" >Home</a></li>
                        <li><a href="/Our-mission">Our Mission</a></li>
                        <li><a href="/artical">Articles</a></li>
                        <li><a href="/join-us">join Our Team</a></li>
                    </ul>
                </nav>           
        </section>