        
        
        <section class="nav">
                <nav>
                    <div>
                        <img src="/assets/Screenshot (126).png" alt="">
                        <h1>STEMinnovista</h1>
                    </div>
                    <ul>
                        <img src="/assets/icons8-hamburger-menu-48.png"  alt="" class="icon-burger">
                        <li ><a href="/home" class="home">Home</a></li>
                        <li><a href="/our-mission" class="our">Our Mission</a></li>
                        <li><a href="/artical" class="art">Articles</a></li>
                        <li><a href="/join-us" class="join">join Our Team</a></li>
                    </ul>
                </nav>           
        </section>