---
layout: 'base.njk'
---


<div class="project">


    <section class="inside">
        
    
        <div class="all-page">
            <div class="ins-head">
                <div>
                    <img src="\assets\Screenshot (126).png" alt="">
                    <p>STEMinnovista</p>
                </div>
                <p>{{ date | postDate }}</p>
            </div>
            <div class="body">
                <h1>{{ title }}</h1>
                <p>
                    {{ content | safe }}
                </p>
            </div>
            <div class="end">
                <div>
                    <a href=""><img src="\assets\facebook.svg" alt=""></a>
                    <a href=""><img src="\assets\twitter.svg" alt=""></a>
                    <a href=""><img src="\assets\link.svg" alt=""></a>
                </div>
                <p>{{ CAT }}</p>
            </div>
        </div>
    </section>
</div>
<script src="/main.js"></script>
