
.contenar .logo{
    width: 60px;
}
.contenar .links{
    position: relative;
}

.icon-burger{
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.icon-burger span{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.icon-burger span:nth-child(2){
width: 100%;
}

 .icon-burger span:first-child{
 width: 100%; 
 
}
.icon-burger span:nth-child(2) {
    width: 60%;
   transition: 0.3s;
}
.icon-burger span:last-child{
    width: 100%;
}
   ul{
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    top: 35px;
    width: 200px;
    display: none;
}
.contenar .links ul::after{
    content: '';
    border-width: 10px;
    border-color: transparent transparent #f6f6f6 transparent;
    border-style: solid;
    position: absolute;
    top: -20px;
    right: 5px;
}
.contenar .links:hover ul{
    display: block;
}
.contenar .links ul li a{
    display: block;
    padding: 15px;
    color: #333;
    text-decoration: none;
    transition: .3s;
}
.contenar .links ul li a:hover{
    padding-left: 25px;
}
.contenar .links ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}
