:root{
    --purble:#D61043;
    --pink:#FC5C65;
    --light-pink:#FFD6D8;
    --dark-purble:#DF426A;
    --green:#14A189;
    --gray:#1F232C;
    --white:#F8F8F8;
}
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: system-ui;
    transition: .4s;
}
body{
    height: 100svb;
    width: 100vw;
    overflow-x: hidden;
}
.project{
    width: 100%;
    min-height: 100%;
    position: relative;
}
.nav{
    width: 100%;
    background-color: var(--purble);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    max-height: 40px;
}
nav div{
    display: flex;
    align-items: center;
    gap: 20px;
}
nav div img{
    width: 36px;
    height: 34px;
}
nav div h1{
    color: white;
    font-size: clamp(10px, 3vw, 30px);
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:  60px;
}
nav ul img{
    display: none;
    width: clamp(40px,30px + 1vw,100px);
}
.lu{
    display: none;
}
nav ul a{
    color: white;
    font-size: 14.75px;
    font-family: system-ui;
    transition: .5s;
}
#home{
    color: var(--pink);
}
nav ul li a:hover{
    color: #FC5C65;
}
.svg{
    height: 50px;
    width: 100%;
}
.header{
    max-width: 100%;
}
.head{
    width: clamp(320px,70%,1000px);
    min-height: 430px;
    margin: auto;
    position: relative;
    background-color: var(--dark-purble);
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .head .what{
    display: flex;
    align-items: center;
    transform: translate(-165px);
    height: 283px;
    position: relative;
}
.aa{
    position: absolute;
    transform: translate(-62%, 0px);
    left: -100px;
    rotate: 270deg;
    font-size: 40px;
    color:var(--green);
}
.b{
    position: absolute;
    top: -28px;
    transform: translate(-50%);
    font-size: 40px;
    color: var(--green);
}
.c{
    position: absolute;
    right: -130px;
    bottom: 50%; 
    rotate: 90deg;
    font-size: 37px;
    transform: translate(12%);
    color: var(--green);
}
.d{
    position: absolute;
    bottom: -18px;
    font-size: 40px;
    transform: translate(-50%);
    color: var(--green);
}
.header .head div  .not-arrow{
    width: 360px;
    min-height: 320px;
    transform: translate(9px);
    box-shadow: 0px 0px 2px var(--gray);

}
.header .head div div{
    width: clamp(100px,65vw,600px);
    height: 220px;
    background-color: var(--light-pink);
    border: 10px white solid;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.header .head div h1{
    font-size:clamp(15px,18px + .8vw,60px);
    text-align: center;
    color: var(--gray);
} 
.women{
    color: var(--pink);
}
.stem{
    color: var(--green);
}
.header .head div a{
    font-size:clamp(8.95px,11.95px + .2vw,30px);
    padding:  12px 23px;
    color: var(--gray);
    transition: .5s;
    border: 1px solid transparent;
}
ul li .activee{
    color: var(--pink);
    transition: 0;
}
.header .head div a:hover{
    background-color: white;
    border: 1px solid black;
}
.about-section{
    margin-top: 5px;
    min-height: 450px;
    background-color: #ffc6c98c;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-small{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 0px 2px var(--gray);
}
.about-small div{
    padding: 20px;
    width: 400px;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-small h1, .about-small p ,.about-small a{
    text-align: center;

}
.about-small h1{
    margin-bottom: 20px;
    font-size: 35px;
    color: var(--pink);
}
.about-small p{
    font-size: 12px;
    width: 315px;
    line-height: 24px;
    color: var(--gray);
}
.about-small a{
    padding: 13px 20px;
    color: white;
    font-size: 12px;
    background-color: black;
    margin-top: 20px;
    transition: .3s;
    border: 1px solid transparent;
}
.about-small a:hover{
    background-color: white;
    border: 1px solid black;
    color: var(--gray);
}
.fe-small{
    margin: 50px;
}
.fe-small .header-h1 h1{
    margin-bottom: 20px;
    text-align: center;
    font-size: 37px;
    color: var(--pink);
}
.holder-art{
    margin-top: 20px ;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 30px;
}
.fe-small .posts{
    display: flex;
    margin: 10px 0px;
    gap: 0;
}
.swiper {
    width: 80%;
}
.fe-small .posts .img-holder{
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purble);
    position: relative;
}
.swiper-pagination{
    bottom: 0;
}
.img-holder::before , .img-holder::after{
    content: "";
    height: 20px;
    width: 20px;
    background-color: var(--purble);
    position: absolute;
    bottom: -20px;
    right: 0;
}
.img-holder::after{
    border-radius: 0px 20px 0px 0px;
    background-color: white;
}
.fe-small .posts .post img ,.posts .post .card{
    border: none;
    padding-right: 0;
}
.fe-small .posts .post img{
    width: 95px;
    border-radius: 50%;
}
.fe-small .posts .post .card .contant{
    border: none;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
.fe-small .posts .post .card .contant a{
    margin: 0;
}
.fe-small .posts .post .card .contant .last-p{
    text-align: center;
    font-size:14px;
    margin-bottom: 10px;
}
.fe-small .contant{
    padding-inline: 50px;

}

.fe-small .posts .post{
    border: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}
.fe-small .posts .post .card{

    flex-direction: column;
    border: none;
}

.footer{
    width: 100%;
    height: 240px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-small{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.footer-small h1{
    font-size: 46px;
    color: var(--pink);
}
.footer-small p{
    font-size: 15.25px;
    color: var(--gray);
}
.footer-small a{
    font-size: 13px;
    color: white;
    padding: 10px 15px;
    background-color: black;
    transition: .3s;
    border: 1px solid transparent;
}
.footer-small a:hover{
    color: var(--gray);
    background-color: white;
    border: 1px solid black;
}
.copyright{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray);
}
.copyright div{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.copyright div p{
    font-size: 14px;
    color: white;
}
.copyright p a{
    color: var(--pink);
}
.arrow{
    position: absolute;
    top: 23%;
    rotate: 23deg;
    left: 0;
    transform: translate(15%, -50%);
    width: 53px;
}
.arrow-2{
    position: absolute;
    top: 15px;
    rotate: 90deg;
    left: -10px;
    width: 31px;
}
.arrow-3{
    position: absolute;
    bottom: 15px;
    right: -10px;
    rotate: 270deg;
    width: 28px;
}
.arrow-2,.arrow-3{
    display: none;
}
/*-------------resbo sec1-----------*/
@media (max-width:1200px) {
    .header .head img{
        display: none;
    }
    
    .header .head{
        width: 100%;
        
    }
    .header .head .arrow,.header .head .arrow-2,.header .head .arrow-3{
        display: block;
    }
    .lu{
        display: block;
    }
    .header .head .what{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transform: translate(0px);
    }
}
@media (max-width:820px) {
    nav ul li{
        display: none;
    }
    nav ul img{
        display: block;
    }
    .arrow{
        display: block;
    }
}
/*---------------------our mission page-----------------------*/
.our-mission-small{
    display: flex; 
    height: 440px;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.our-mission{
    height: 430px;
}
.our-mission-small .talk{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.our-mission-small img{
    width: 300px;
    height: 300px;
}
.our-mission-small .talk p{
    font-size: clamp(10px, 3vw, 14px);
    color: var(--gray);
    margin-inline: 20px;
    line-height: 24px;
}
.our-mission-small .talk h1{ 
    font-size: 37px;
    margin-inline: 20px;
    color: var(--pink);
}

.contact{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--light-pink);
}
.contact-small{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 13px;
}
.contact-small h1{
    font-size: 33px;
}
.contact-small p{
    font-size: 17px;
    color: var(--gray);
}
.a{
    padding: 7px 45px;
    margin-top: 20px;
    text-align: center;
    color: white;
    background-color: var(--gray);
    border: 1px solid transparent;
    transition: .3s;
    font-size: 13.4px;
}
.a:hover{
    background-color: black;
    border: 1px solid black;
}
/*---------------------rebo Our-mission------------------*/
@media (max-width:800px) {
    .our-mission-small img{
        display: none;
    }
    .talk{
        text-align: center;
    }
}
/*-------------------join us section-----------------------*/
.holder{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.join-us{
    min-height: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.join-us-small{
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 15px;
}
.join-us-small h1{
    font-size: clamp(30px, 30px + 3vw, 50px);
    color: var(--pink);
}
.join-us-small p{
    font-size: 15px;
    width:min(80vw,429px);
    padding: clamp(10px, 10px + 1vh, 30px);
}
.join-us .a:hover{
    color: var(--gray);
    background-color: white;
    border: 1px solid black;

}
.icon{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.insta{
    width: 18px;
}
.icon a:nth-child(2){
    color: var(--gray);
}
/*-----------------------Articals------------------------*/
.articals{
    display: flex;
    align-items: center;
    justify-content: center;
}
.articals .page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
.articals .page .cat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.cat h1{
    margin-top: 40px;
    font-size: 37px;
    color: var(--pink);
}
.cat{
    margin-inline:40px ;
}
.cat ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 25px;
    color: var(--gray);
}
.cat ul li{
    cursor: pointer;
    color: var(--gray);
    font-size: 15px;
}
.post{
    display: flex;
    flex-direction: column;

}
.posts{
    width: 115%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px ,1fr));
    gap: 80px;
    margin-top: 40px;
    margin-bottom: 60px;
}
.posts .post .card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid black;
}
.post{
    width: 230px;
}
.contant{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border-bottom: 1px solid var(--gray);
}
.posts .post img{
    width: 230px;
    border: 1px solid black;
    border-bottom: none;
}
.contant p{
    color: var(--gray);
    font-size: 15px;
}
.contant p span{
    margin-left: 10px;
}
.contant h1{
    color: var(--gray);
    font-size: 19px;
}
.contant .last-p{
    margin-bottom: 30px;
}

.contant a{
    font-size: 13.95px;
    padding: 12px clamp(10px, 5px + 1.3vw, 30px);
    color: var(--gray);
    transition: .5s;
    border: 1px solid transparent;
    margin-bottom: 20px;
    background-color: var(--pink);
}
.contant a:hover{
    background-color: white;
    border: 1px solid black;
}
.active{
    padding: 10px 15px ;
    background-color: var(--green);
    border: 1px solid black;
}



@media (max-width:900px) {
    .page .posts{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .page .posts .post img ,.posts .post .card{
        border: none;
        padding-right: 0;
    }
    .page .posts .post img{
        width: clamp(100px,33vw,400px);
    }
    .page .posts .post .card .contant{
        border: none;
        align-items: baseline;
        gap: 3px;
    }
    .page .posts .post .card .contant a{
        margin: 0;
    }
    .page .posts .post .card .contant .last-p{
        width: min(50vw,500px);
        font-size:clamp(10px,10px + .6vw ,20px);
        margin-bottom: 10px;
    }
    
    .page .posts .post{
        border: none;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        border-bottom:1px solid var(--gray) ;
        margin-bottom: 50px;
        padding-bottom: 40px;
    }
     .page .post .card{
        flex-direction: column;
    }
}

@media (max-width:320px )  {
    .page .posts .post img{
        display: none;
    }
    .page .posts .post {
        width: 100%;
    }
    .page .posts .post .card .contant .last-p{
        width: 70vw;
        text-align: center;
    }
     .page .posts .post .card .contant{
        align-items: center;
    }
}
/*-------------------inside---------------------*/
.inside{
    margin: auto;
    width: clamp(100px, 70vw, 1000px);
    display: flex;
    justify-content: center;
}
.all-page{
    padding: 40px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    margin: 50px 0px ;
    border: 1px solid var(--gray);

}   
.ins-head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ins-head div img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.ins-head div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.body h1{
    font-size: clamp(10px, 10px + 2vw, 40px);
    color: var(--gray);
}
.body p{
    font-size: clamp(13px, 6px + 1vw, 20px);
    color: var(--gray);
}
.end{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid var(--gray) ;
    border-top:1px solid var(--gray)  ;
    padding: 20px;
}
.end div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.end p{
    color: var(--gray);
    font-size: 15px;
}
.catnap{
    margin-top: 40px;
}

.back{
    position: fixed;
    top: 30%;
    transform: translate(clamp(5px,5px + 4vh,100px));
}
.back .back-small img{
    width: clamp(60px,10vw,120px);

}
@media (max-width:800px) {
    .back .back-small img{
        width:clamp(30px,10vw,60px);
    }
    .back{
        transform: translate(2vw);
    }
}
@media (max-width:500px) {
    .ins-head{
        flex-direction: column;
    }
    .all-page{
        padding: 20px;
    }
    .back{
        transform: translate(.5vh);
    }
}
@media (max-width:450px) {
    .back{
        position: absolute;
        height: fit-content;
        margin: 0;
        bottom: 0;
        transform: translate(45vw,-136px);
        top: initial;
    }
    .inside{
        margin-left: 45px;
    }
}