



        <section class="copyright">
            <div>
                <p>©This site is designed by Mohamed Faisal</p>
                <p>Mali:<a href="mailto: m.fmragheb@email.com" type="Mali" target="_blank"> m. fmragheb@gmailcom</a></p>
            </div>
        </section>